In [1]:
import numpy as np
import pandas as pd
import pickle 
import matplotlib.pyplot as plt

Test Data File Names: <br>
'CMIP_ews_CMCC-CESM_Processed.pkl'  <br>
'CMIP_ews_CSIRO-Mk3-6-0_Processed.pkl' <br>
'CMIP_ews_FGOALS-g2_Processed.pkl' <br>
'CMIP_ews_GFDL-ESM2M_Processed.pkl'

In [2]:
test_data_col=['CMIP_ews_CMCC-CESM_Processed.pkl','CMIP_ews_CSIRO-Mk3-6-0_Processed.pkl','CMIP_ews_FGOALS-g2_Processed.pkl','CMIP_ews_GFDL-ESM2M_Processed.pkl']

In [3]:
with open(test_data_col[0], 'rb') as file:
    raw_data = pickle.load(file)
raw_data

,x,nan_pattern,filter_fw,model,cvar,table,null,month,lat,lon,sample_loc,sample_loc_meta,run_length,t_roll_window
0,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",9,CMCC-CESM,cct,Amon,1,1,1.855571,228.75,"[24, 61]","[24, 61]",246,0.3
1,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",18,CMCC-CESM,cct,Amon,1,1,1.855571,228.75,"[24, 61]","[24, 61]",246,0.3
2,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",27,CMCC-CESM,cct,Amon,1,1,1.855571,228.75,"[24, 61]","[24, 61]",246,0.3
3,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",9,CMCC-CESM,cct,Amon,1,1,-87.159095,75.00,"[0, 20]","[0, 20]",246,0.3
4,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",18,CMCC-CESM,cct,Amon,1,1,-87.159095,75.00,"[0, 20]","[0, 20]",246,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2427,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",18,CMCC-CESM,ts,Amon,0,5,76.070244,18.75,"[44, 5]","[44, 5]",191,0.3
2428,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",27,CMCC-CESM,ts,Amon,0,5,76.070244,18.75,"[44, 5]","[44, 5]",191,0.3
2429,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",9,CMCC-CESM,ts,Amon,0,5,76.070244,11.25,"[44, 3]","[44, 3]",189,0.3
2430,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",18,CMCC-CESM,ts,Amon,0,5,76.070244,11.25,"[44, 3]","[44, 3]",189,0.3
2431,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[False, False, False, False, False, False, Fa...",27,CMCC-CESM,ts,Amon,0,5,76.070244,11.25,"[44, 3]","[44, 3]",189,0.3

In [4]:
type(raw_data)

pandas.core.frame.DataFrame

In [5]:
raw_data["x"][0].shape

(246, 12)

In [ ]:
data = raw_data[["x","null"]]
data